# Flask and web server components
Flask==3.0.0
Flask-Cors==4.0.1
python-dotenv==1.0.1
requests==2.32.3

# Supabase client
supabase==2.5.0

# Data scraping and manipulation
yfinance==0.2.40
pandas==2.2.2
pandas-stubs==2.2.2.240603

# Existing financial APIs
alpha-vantage==3.0.0
finnhub-python==2.4.24
openai==1.35.3