.input {
  display: flex;
  height: 2.25rem;
  width: 100%;
  min-width: 0;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  background-color: var(--background);
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  transition: all 0.2s;
  outline: none;
}

.input::placeholder {
  color: var(--muted-foreground);
}

.input:focus-visible {
  border-color: var(--ring);
  box-shadow: 0 0 0 3px var(--ring);
}

.input:disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}